<div class="hero-unit">
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span5">
	      <%= image_tag @story.cover.url(:middle) %>
	    </div>
	    <div class="span7">
	      <h2><%= link_to @story.title,story_events_path(@story) %><h2>
	      	<% if @story.users.size==2 %>
	      	  <h5>Written by <%=@story.users.first.display_name%> and <%=@story.users.second.display_name%></h5>
	      	  <% end %>
	      <h5><%= @story.instruction %></h5>
	      <%= link_to_modal t('.writers_list'),writers_story_path(@story) %>
	    </div>
	  </div>
	</div>
</div>

<%= link_to t('.edit'), edit_story_path %> |
<%= link_to t('.open_book'), story_events_path(@story) %>

