
<%= form_for([@event,@crumb],remote:true,html:{class:"form-horizontal"}) do |f| %>
  <% if @crumb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crumb.errors.count, "error") %> <%=t('.prohibite_save_crumb')%></h2>

      <ul>
      <% @crumb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <legend><%=t('.update_detail')%></legend>
  <div class="control-group">
    <%= f.label :caption,class:"control-label" %>
    <div class="controls">
      <%= f.text_field :caption %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description,class:"control-label" %>
    <div class="controls">
      <%= f.text_area :description,rows:3 %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit t('.update'), class:"btn btn-primary"%>
    </div>
  </div>
<% end %>
