<p><%=t('.hello')%><%= @resource.email %>!</p>

<p><%=t('.change_pwd_with_link')%></p>

<p><%= link_to t('.change_pwd'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%=t('.ignore_this')%></p>
<p><%=t('.change_pwd_on_click')%></p>
