<%= link_to "LoveStory", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
     <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=current_user.nickname||=current_user.email%> <b class="caret"></b></a>
        <ul class="dropdown-menu" id="swatch-menu">
            <li><%=  link_to 'Create a story', new_story_path %></li>
            <li class="divider"></li>
            <li><%=  link_to 'Account settings', edit_user_registration_path  %></li>
        </ul>
      </li>
      <li><%=  link_to 'Logout', destroy_user_session_path, method:"delete" %></li>
  <% else %>
      <li><%=  link_to_modal 'Login', new_user_session_path %></li>
      <li><%=  link_to_modal 'Logup', new_user_registration_path %></li>
  <% end %>

  
</ul>
