<%= link_to "LoveStory", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=current_user.nickname||=current_user.email%> <b class="caret"></b></a>
        <ul class="dropdown-menu" id="swatch-menu">
            <li><%=  link_to t('.create_a_story'), new_story_path %></li>
            <li class="divider"></li>
            <li><%=  link_to t('.account_settings'), edit_user_registration_path  %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=t('.inbox')%>(<%=current_user.inbox.unhandled.size%>)</a>
        <ul class="dropdown-menu">
          <div class="row">
              <div class="span4">
                <% current_user.inbox.unhandled.each do |msg| %>
                      <div class="row" id="message_<%=msg.id%>">
                        <div class="span3"><h6><%=msg.content.html_safe%></h6></div>
                        <div class="span1"><%=link_to 'ignore',ignore_message_path(msg),:method=>"post",remote:true,class:"btn btn-primary btn-mini"%></div>
                      </div>
                <% end %>
              </div>
          </div>
        </ul>
      </li>
      <li><%=  link_to t('.logout'), destroy_user_session_path, method:"delete" %></li>
  <% else %>
      <li><%=  link_to_modal t('.login'), new_user_session_path %></li>
      <li><%=  link_to_modal t('.logup'), new_user_registration_path %></li>
  <% end %>

  
</ul>
